{{ define "main" }}
<main aria-role="main" class="flex flex-col">
	<header class="flex flex-row justify-end py-3 px-4 md:px-16">
		<span class="text-sm md:text-base">
			Already a student? <a class="border-b-2 border-black" href="https://calendly.com/gomelina/spanish_lesson">Book a lesson</a>
		</span>
	</header>

	<div class="flex flex-col space-y-16">
		<section class="px-4 md:px-16">
			<div class="flex flex-col md:flex-row gap-16 pt-6 md:pt-14">
				<div class="text-2xl md:text-3xl font-medium leading-normal space-y-8 md:mt-10">
					<p>Hola! I'm <span
							class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text">Melina</span>—welcome
						to my <span
							class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text decoration-clone">Spanish
							Studio</span>.
					</p>

					<p>
						I created this space to help people <span
							class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text decoration-clone">speak
							Spanish</span>. My commitment to you is to make you feel
						<span
							class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text">confident</span>
						and become <span
							class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text">fluent</span>,
						enjoying the process, making you feel <span
							class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text">proud</span>
						and happy in yourself, fullfilling your <span
							class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text decoration-clone">
							goals</span>.
					</p>

					<p>Are you my new student? I'd <span
						class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text decoration-clone">love</span> for us to get to know each other before we begin lessons.
					</p>

					<div>
						<a href="https://app.harmonizely.com/gomelina/talk" class="space-x-1 items-center leading-tight hover:space-x-2.5 transition-all">
							<span class="border-b-2 border-black">Let's start with an intro</span>
							<span class="text-2xl">➔</span>
						</a>
					</div>
				</div>

				<iframe src="https://www.videoask.com/fy6rsl7tp"
					allow="camera *; microphone *; autoplay *; encrypted-media *; fullscreen *; display-capture *;"
					width="100%"
					height="600px"
					frameborder="0"
					class="md:order-first rounded-lg filter drop-shadow-xl"
					></iframe>
			</div>
		</section>

		<div class="px-4 md:px-16">
			<hr>
		</div>

		<section class="px-4 md:px-44">
			<div class="flex flex-col gap-y-8 items-center">
				<div class="flex flex-col md:flex-row gap-x-4">
					<span class="leading-none text-9xl md:text-10xl bg-gradient-to-b from-yellow-500 to-red-500 text-transparent bg-clip-text md:-mt-8">“</span>
					<blockquote class="text-2xl md:text-3xl font-medium text-black -mt-12 md:mt-0">
						<p class="text-center">
							Meli brings a sense of fun, a brightness, a positive & caring disposition that is intoxicating no matter what state you arrive into the lesson in. She listens and gauges where you are at without judgement and she sets about devising a bespoke experience tailored to the way you learn
						</p>
					</blockquote>
					<span class="leading-none hidden md:inline text-8xl md:text-10xl bg-gradient-to-b from-yellow-500 to-red-500 text-transparent bg-clip-text md:-mt-8">”</span>
				</div>
				<div class="flex flex-col items-center gap-y-6">
					<figcaption class="font-medium text-lg text-center md:text-2xl text-gray-700"><span class="text-transparent bg-clip-text bg-gradient-to-b from-yellow-500 to-red-500 font-semibold">Tim Macready</span>, CEO Skill Capital & Independent Film Producer</figcaption>
					<img class="w-72 h-52 object-cover rounded filter drop-shadow-lg filter contrast-125" src="/images/tim.webp" alt="">
				</div>
			</div>
		</section>

		<div class="px-4 md:px-16">
			<hr>
		</div>

		<section class="px-4 md:px-16">
			<div class="flex flex-col gap-8 md:flex-row">
				<div class="md:w-1/2 flex-shrink-0">
					<div class="text-4xl font-semibold">
						<h2 class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text decoration-clone">About our lessons</h2>
						<h2 class="">Sobre nuestras lecciones</h2>
					</div>
				</div>

				<div class=" space-y-8 font-medium text-xl">
					<p>Our lessons are online & 1:1 for 55 minutes.</p>
					<p>Book a lesson at the time that suits you best, I am available everyday from 07:00 am to 10:00 pm GMT. </p>
					<p>I will plan our next lessons based on your progress, needs, and interests. Together we'll decide topics, practices, and methods. </p>
					<p>We'll have short talks in Spanish to see your progress every lesson. We'll practice your reading, writing, listening, understanding, and grammar.</p>
					<p>I'll prepare a presentation for each lesson in both Spanish & English, with examples and exercises. I'll send everything I prepare for you so you can practice between lessons.</p>
					<p>Communication between us is important for your Spanish learning process. I want you to tell me how are you feeling with lessons, topics, and how I can help you the most.</p>
				</div>

			</div>
		</section>

		<div class="px-4 md:px-16">
			<hr>
		</div>

		<section class="px-4 md:px-16">
			<div class="flex flex-col gap-8 md:gap-0">
				<div class="text-4xl font-semibold">
					<h2 class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text decoration-clone">Words from my students</h2>
					<h2 class="">Palabras de mis alumnos</h2>
				</div>
				<div class="flex flex-col justify-center items-center md:flex-row gap-8 md:gap-36 md:ml-12">
					<div class="w-4/5 md:w-1/4 -ml-12 md:ml-0 md:mt-16">
						<div style="padding:176.67% 0 0 0;position:relative;">
							<iframe
										src="https://player.vimeo.com/video/555602712?byline=0&portrait=0&title=0&sidedock=0"
										style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
										allow="autoplay; fullscreen; picture-in-picture" allowfullscreen class="border-2 border-gray-200 rounded-lg filter shadow-xl transform transition-all duration-200 hover:scale-102 hover:shadow-2xl"></iframe>
						</div>
					</div>
					<div class="w-4/5 md:w-1/4 ml-8 md:ml-0 md:-mt-32">
						<div style="padding:176.67% 0 0 0;position:relative;">
							<iframe
										src="https://player.vimeo.com/video/572002611?byline=0&portrait=0&title=0&sidedock=0"
										style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
										allow="autoplay; fullscreen; picture-in-picture" allowfullscreen class="border-2 border-gray-200 rounded-lg filter shadow-xl transform transition-all duration-200 hover:scale-102 hover:shadow-2xl"></iframe>
						</div>
					</div>
					<div class="w-4/5 md:w-1/4 -ml-4 md:ml-0 md:mt-28">
						<div style="padding:176.67% 0 0 0;position:relative;">
							<iframe
										src="https://player.vimeo.com/video/555361804?byline=0&portrait=0&title=0&sidedock=0"
										style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
										allow="autoplay; fullscreen; picture-in-picture" allowfullscreen class="border-2 border-gray-200 rounded-lg filter shadow-xl transform transition-all duration-200 hover:scale-102 hover:shadow-2xl"></iframe>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="bg-gradient-to-r from-red-50 via-pink-50 to-purple-50 pt-8 md:pt-24">
			<div class="flex flex-col md:flex-row justify-between flex-nowrap w-screen overflow-x-hidden gap-y-16 md:gap-y-0 gap-x-52">
				<div class="pt-10 pl-4 md:pl-24">
					<div class="space-y-8">
						<div class="text-5xl font-bold">
							<h2 class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text decoration-clone">Say hello</h2>
							<h2 class="">Di hola</h2>
						</div>
						<div class="pl-4 text-2xl md:pl-8 md:text-4xl font-semibold">
							<ul class="inline-flex flex-col space-y-2">
								<li class="inline w-min transform transition-transform hover:translate-x-2"><a href="https://tiktok.com/gomelina_">TikTok</a></li>
								<li class="transform w-min transition-transform hover:translate-x-2"><a href="https://instagram.com/go_melina">Instagram</a></li>
								<li class="transform w-min transition-transform hover:translate-x-2"><a href="mailto:melina@gomelina.me">melina@gomelina.me</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div>
					<img class="rounded-tl filter contrast-125" src="/images/wide.webp" alt="">
				</div>
			</div>
		</section>
	</div>
</main>
{{ end }}
