{{ define "main" }}
<main aria-role="main" class="flex flex-col space-y-16">
	<section class="px-16">
		<div class="flex flex-row gap-16 pt-16">
			<iframe src="https://www.videoask.com/fy6rsl7tp"
				allow="camera *; microphone *; autoplay *; encrypted-media *; fullscreen *; display-capture *;"
				width="100%"
				height="600px"
				style="border: none; border-radius: 24px"
				></iframe>
			<div class="text-3xl font-medium leading-normal space-y-8 mt-10">
				<p>Hola! I'm <span
						class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text">Melina</span>—welcome
					to my <span
						class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text decoration-clone">Spanish
						Studio</span>.
				</p>

				<p>
					I created this space to help people <span
						class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text decoration-clone">speak
						Spanish</span>. My commitment to you is to make you feel
					<span
						class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text">confident</span>
					and become <span
						class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text">fluent</span>,
					enjoying the process and making you feel <span
						class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text">proud</span>
					and happy of yourself, fullfilling your <span
						class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text decoration-clone">
						goals</span>.
				</p>

				<p>Are you my new student? I'd <span
					class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text decoration-clone">love</span> for us to get to know each other before we <span
						class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text">start</span> lessons.
				</p>

				<div>
					<a href="https://app.harmonizely.com/gomelina/talk" class="inline-flex flex-row space-x-2 items-center leading-tight hover:space-x-3.5 transition-all"><span class="border-b-2 border-black">Start with a free consultation</span><span class="text-2xl">➔</span></a>
				</div>
			</div>
		</div>
	</section>

	<section class="px-16">
		<div class="rounded bg-gradient-to-r from-yellow-50 via-pink-50 to-purple-50 px-52 py-24">
			<figure class="md:flex md:space-x-8 items-center">
				<img class="w-96 h-64  object-cover rounded filter drop-shadow-lg filter contrast-125" src="/images/tim.webp" alt="">
				<div class="flex flex-col space-y-4">
					<blockquote class="text-xl font-semibold">
						<p>
								"Meli brings a sense of fun, a brightness, a positive & caring disposition that is intoxicating no matter what state you arrive into the lesson in. She listens and gauges where you are at without judgement and she sets about devising a bespoke experience tailored to the way you learn"
						</p>
					</blockquote>

					<figcaption class="text-lg font-medium leading-snug">
						<div class="text-pink-800">Tim Macready</div>
						<div class="text-gray-800 opacity-75">CEO, Skill Capital</div>
					</figcaption>
				</div>
			</figure>
		</div>
	</section>

	<section class="px-16">
		<div class="grid grid-cols-12 gap-8">
			<div class="col-span-6">
				<div class="text-4xl font-semibold">
					<h2 class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text decoration-clone">About our lessons</h2>
					<h2 class="">Sobre nuestras lecciones</h2>
				</div>
			</div>

			<div class="col-span-7 col-start-7">
				<div class=" space-y-8 font-medium text-xl">
					<p>Our lessons are online & 1:1 for 60 minutes.</p>
					<p>Book lesson at the time that suits you better, I am available everyday from 07:00 am to 10:00 pm. </p>
					<p>I will plan our next lessons based on your progress, needs, and interests. We will decide topics together, practices, and methods. </p>
					<p>We'll have short talks in Spanish to see your progress every lesson. We'll practice your reading, writing, listening, understanding, and grammar.</p>
					<p>I'll prepare a presentation for each lesson in both Spanish & English, with examples and exercises. I'll send everything I prepare for you so you can practice between lessons.</p>
					<p>Communication between us is important for your Spanish learning process. I want you to tell me how are you feeling with lessons, topics, and how I can help you the most.</p>
				</div>
			</div>

		</div>
	</section>

	<div class="px-16">
		<hr>
	</div>

	<section class="px-16">
		<div class="text-4xl font-semibold">
			<h2 class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text decoration-clone">Words from my students</h2>
			<h2 class="">Palabras de mis alumnos</h2>
		</div>
		<div class="flex flex-row gap-72 ml-36">
			<div class="w-1/4 mt-32">
				<div style="padding:176.67% 0 0 0;position:relative;">
					<iframe
								src="https://player.vimeo.com/video/555361804?byline=0&portrait=0&title=0&sidedock=0"
								style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
								allow="autoplay; fullscreen; picture-in-picture" allowfullscreen class="border-2 border-pink-500 filter drop-shadow-lg"></iframe>
				</div>
			</div>
			<div class="w-1/4 -mt-18">
				<div style="padding:176.67% 0 0 0;position:relative;">
					<iframe
								src="https://player.vimeo.com/video/555602712?byline=0&portrait=0&title=0&sidedock=0"
								style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
								allow="autoplay; fullscreen; picture-in-picture" allowfullscreen class="border-2 border-pink-500 filter drop-shadow-lg"></iframe>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-gradient-to-r from-red-50 via-pink-50 to-purple-50 pt-24">
		<div class="flex flex-row justify-between flex-nowrap w-screen overflow-x-hidden gap-x-52">
			<div class="pt-10 pl-24 col-span-4">
				<div class="space-y-8">
					<div class="text-5xl font-bold">
						<h2 class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text decoration-clone">Say hello</h2>
						<h2 class="">Di hola</h2>
					</div>
					<div class="pl-8 text-4xl font-semibold">
						<ul class="inline-flex flex-col space-y-2">
							<li class="inline w-min transform transition-transform hover:translate-x-2"><a href="https://tiktok.com/gomelina_">TikTok</a></li>
							<li class="transform w-min transition-transform hover:translate-x-2"><a href="https://instagram.com/go_melina">Instagram</a></li>
							<li class="transform w-min transition-transform hover:translate-x-2"><a href="mailto:gomelina.me">melina@gomelina.me</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div>
				<img class="rounded-tl filter contrast-125" src="/images/wide.webp" alt="">
			</div>
		</div>
	</section>
</main>
{{ end }}
